<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- ConnectionStrings SQL Server/MySQL-->
    <add key="connS_masterP" value="Data Source=TISERVER;Initial Catalog=RecursosTI;User Id=sa;Password=Epicor123;" />
    <add key="ConnectionString" value="Data Source=TDBE10SERVER;Initial Catalog=ERP10DB;User Id=sa;Password=Epicor123;" />
    <add key="MySQLEnvironment" value="Server=127.0.0.1;Port=3306;Uid=root;Pwd='';database=masterp;"/>
    
    <!--Rutas Archivos y Datos de Configuracion Epicor-->
    <add key="rutaConfig" value="C:\Epicor\ERP10.0ClientTest\Client\config" />
    <add key="archivoConfig" value="C:\Epicor\ERP10.0ClientTest\Client\config\Epicor10.sysconfig" />
    <add key="environment" value="Epicor10" />
    <add key="company" value="DLMAC" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
    <!--Queries MySQL-->
    <add key="getProyects" value="SELECT idProyecto,fechaSurcado,fechaPreparacion,fechaSurcado,fechaEncamado FROM	tb_UD Limit 10;"/>
    
    <!--Queries SQL Epicor-->
    <add key="getEpicorProjects" value="SELECT Character05 AS Proyecto,Key1,Key2,Key3,Key4,Key5 FROM Ice.UD39 WHERE Company = 'TT' AND Character05 like '%"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>